{%extends 'base.html'%}

{%block content%}
    <div class="login-container">
        <div class="login-nav">
            <div class="nav-one">
             <span class="material-symbols-outlined">school</span>
              <h1>Sai LMS</h1>
            </div>
            <div class="nav-two">
                <button>
                    <a href="{% url 'register' %}">
                    register
                    </a>
                </button>
            </div>
          </div>
        <div class="login-container-in">
            <div class="login-form">
                <form action="" method="post">
                    {%csrf_token%}
                    <div class="login-one-one">
                        <h1>Login</h1>
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color: red;">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="login-two-two">
                        <label for="id_no" name="id">Id no*</label>
                        <input type="text" name="id">
                    </div>
                    <div class="login-three-three">
                        <label for="password" name="password">Password*</label>
                        <input type="password" name="password">
                    </div>
                    <div class="login-four-four">
                        <a href="#">Forgot password?</a>
                    </div>
                    <div class="login-five-five">
                        <button>Submit</button>
                    </div>
                    <div class="login-six-six">
                        <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
                    </div>
                </form>
            </div>
        </div> 
          
        <div class="login-footer">
            <p> © 2023 saitadikonda. All rights reserved.</p>
            <p>designed & developed by <span> 
                <a href="https://github.com/saitadikonda99">Tadikonda sai manikanta</a>
            </span> </p>
        </div>
     </div>
{%endblock%}