{% extends 'base1.html' %}

{% block content %}
    <div class="dashboard-container">
        <div class="dashboard-container-one">
           <div class="db-profile-container">
            <div class="db-profile-one">
                <h1>Student Details</h1>
            </div>
            <div class="db-profile-two">
                <div class="db-profile-two-in">
                  
                </div>
            </div>
            <div class="db-profile-three">
                <div class="db-profile-three-one">
                    <h3>Name : </h3>
                    <h3> Tadikonda Sai Manikanta</h3>
                </div>
                <div class="db-profile-three-two">
                    <h3>Id : </h3>
                    <h3> 2200030805</h3>
                </div>
            </div>
            <!-- <div class="db-profile-four">
                <button>
                    logout
                </button>
            </div> -->
           </div>
        </div>
        <div class="dashboard-container-two"></div>
    </div>
{% endblock %}